[submodule "external/FreeRTOS/freertos-kernel"]
	path = external/FreeRTOS/freertos-kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "external/uCOS-III/uCOS-III-kernel"]
	path = external/uCOS-III/uCOS-III-kernel
	url = git@github.com:SiliconLabs/uC-OS3.git
[submodule "external/uCOS-III/uCOS-CPU"]
	path = external/uCOS-III/uCOS-CPU
	url = git@github.com:SiliconLabs/uC-CPU.git
[submodule "external/uCOS-III/uCOS-LIB"]
	path = external/uCOS-III/uCOS-LIB
	url = git@github.com:SiliconLabs/uC-LIB.git
[submodule "external/STM32Cube/STM32Cube-Src"]
	path = external/STM32Cube/STM32Cube-Src
	url = git@github.com:STMicroelectronics/STM32CubeG4.git
[submodule "external/threadx/threadx-kernel"]
	path = external/threadx/threadx-kernel
	url = https://github.com/eclipse-threadx/threadx.git
